/* src/CSS/AdminPage.css */
.admin-dashboard {
  text-align: center;
  font-family: Arial, sans-serif;
}

.admin-header {
  margin: 20px 0;
  position: relative;
  display: inline-block;
}

.admin-options {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.admin-header:hover .admin-options {
  display: block;
}

.admin-option-button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
}

.admin-option-button:hover {
  background-color: #ddd;
}
