/* src/CSS/EditUser.css */
.edit-user-container {
    display: inline-block;
}

.edit-user-button {
    padding: 5px 10px;
    background-color: #FFA500;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-user-button:hover {
    background-color: #FF8C00;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 4px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.edit-user-form {
    display: flex;
    flex-direction: column;
}

.edit-user-input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.edit-user-submit {
    padding: 10px 20px;
    background-color: #FFA500;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-user-submit:hover {
    background-color: #FF8C00;
}
